input {
    display: block;
    margin-bottom: 20px;
}

canvas {
    display: block;
    outline: 1px solid #ccc;
    margin: 0 0 0 0;
}

.fc-canvas {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fc-container {
    display: inline-block;
}

button {
    display: block;
}

#crop-output {
    position: absolute;
    left: 500px;
    top: 20px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#crop-output canvas {
    float: left;
}